<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Disable WebDriverManager logs -->
        <Logger name="io.github.bonigarcia.wdm" level="OFF" additivity="false"/>

        <!-- Disable Selenium logs -->
        <Logger name="org.openqa.selenium" level="OFF" additivity="false"/>

        <!-- Disable TestNG internal logs -->
        <Logger name="org.testng" level="OFF" additivity="false"/>

        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>